*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #222;
    transform-style: preserve-3d;
}
.box {
    position: relative;
    display: flex;
    transform-style: preserve-3d;
    perspective: 500px;
}
.box .item {
    position: absolute;
    top: calc(50% - 150px);
    left: calc(50% - 100px);
    width: 200px;
    height: 300px;
    background: #fff;
    transition: 0.5s;
    box-shadow: 0 0 50px rgba(0,0,0,0.5);
    transform-style: preserve-3d;
    transform-origin: bottom;
    user-select: none;
    -webkit-box-reflect: below 1px linear-gradient(transparent, transparent, #0002);

}